<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="container">
  <div class="row mt-5">
    <%= render "analytics/page_views" %>
  </div>
  <div class="row mt-5">
    <%= render "analytics/device_views" %>
  </div>
</div>